body {
  background-color: antiquewhite;
  font-family: 'open  sans';
  font-size: 20px;
  line-height: normal;
  color: rgb(57, 57, 57);
}

.card {
  width: 60%;
  margin: 30 auto;
  padding: 20px;
  @media (min-width: 1200px) {
    /* For a screen < 540px, this CSS will be read */
    width: 40%;
  }
  border-radius: 5px;
  background-color: white;
  box-shadow:0px 0px 15px rgb(192, 192, 192);
}

img {
  border-radius: 50%;
}

button {
  font-size: 16px;
  background-color: red;
  color: white;
  font-weight: bolder;
  padding: 12px 20px;
  border-radius: 5px;
  border: 0;
}

h1, h2 {
  font-size: 30px;
  color: rgb(86, 86, 86);
  font-weight: 900;
  font-family: 'Kanit', sans-serif;
  /* font-family: 'Roboto Condensed', sans-serif; */
}

h2 {
  font-size: 25px;
}

h3 {
  color: red;
  font-weight: bold;
  padding-bottom: 8px;
}

button:hover {
  background-color: darkred;
}

.fa-github {
 color: rgb(91, 91, 91);
}

.fa-github:hover {
color: black;
}

.fa-linkedin {
  color: #0852d4;
}

.fa-linkedin:hover {
  color: #0421b2;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
}

.container {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}
